@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .site-banner {
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("assets/luxury.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}