@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .upper-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("assets/luxury.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .lower-banner {
    background: linear-gradient(315deg, #d1fae5 0%, #10b981 74%);
  }
}
